.large-button {
    padding: 0.75rem 1.5rem;
    font-size: 1.1rem;
    width: 100%; /* Adjust width if needed */
  }
  .doctor-note-section {
    margin-top: 20px;
  }
  
  .doctor-note-section h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .doctor-note-section textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    font-size: 16px;
    resize: vertical;
  }
  
  .doctor-note-section button {
    margin-top: 10px;
    font-weight: bold;
  }
  